
{% extends 'rango/base.html' %}

{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}

    <div>
        <p>This tutorial has been put together by B</p>
    </div>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on Speed
    </button>
    <p>This is a example</p>
    <p>This is another example</p>
    <p>This text is for a JQuery Example</p>
    <div id="msg">Hello - I'm here for a JQuery Example too</div>

    <div><br>
        <h3>A static file:</h3>
        <img src="{% static "images/cat.jpg" %}" alt="Halloween cat" />   <!--serving static files-->
        <br />
        <h3>A media file:</h3>
        <img src="{{ MEDIA_URL}}cat.jpg" alt="funny cat">     <!--serving media files-->
    </div>

{% endblock %}
