<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rango</title>
    </head>
    <body>
        <div>
            {% if category %}
                <h1>{{ category.name }}</h1>
                {% if pages %}
                    <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}" target="_blank">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no pages in this category</strong><br><br>
                {% endif %}
            {% else %}
                <strong>This category does not exist!</strong>
            {% endif %}
            <br><br>
            <a href="/rango/">Back to the Index page</a><br>
            {% if category %}
            <a href="/rango/category/{{category.slug}}/add_page/">Add a New Page to this Category</a>
            {% endif %}
        </div>
    </body>
</html>
